@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  font-family: inherit;
}

html,
body {
  min-height: 100%;
  letter-spacing: 1;
  max-width: 100%;
  overflow-x: hidden;
}

/*----------------------------------*/
.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

body:has(.open) {
  overflow: hidden;
}

.wrapper {
  font-family: "Montserrat";
}

.footer {
  background: hotpink;
}

._container {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  background: #52503b;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0px 17px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 128px;
}

.header__logo img {
  width: 100%;
}

.header__button {
  color: #52503b;
  background: #ffffff;
  font-size: 1rem;
  line-height: calc(20 / 16);
  padding: calc(11 / 16 * 1em) calc(18 / 16 * 1em);
}

.header__burger {
  display: none;
  position: relative;
  width: 45px;
  aspect-ratio: 1 / 0.8;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.313));
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.313));
  z-index: 6;
}

.header__burger:before, .header__burger:after,
.header__burger span {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  background: #32322a;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header__burger::before, .header__burger::after {
  content: "";
}

.header__burger span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger.open span {
  -webkit-transform: translateY(-50%) scaleX(0);
          transform: translateY(-50%) scaleX(0);
}

.header__burger.open:before {
  top: 48%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__burger.open:after {
  bottom: 44%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1080px) {
  .header__container {
    padding: 8px 0px;
  }
  .header__button {
    padding: 0.5em 0.8em;
  }
}

@media (max-width: 749px) {
  .header {
    position: absolute;
    padding: 15px 0;
    background: none;
  }
  .header__logo {
    display: none;
  }
  .header__button {
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  }
  .header__burger {
    display: block;
  }
}

.menu {
  padding-right: 10px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__iten {
  font-size: calc(15 / 16 * 1rem);
  color: white;
}

.menu__iten:not(:last-child) {
  margin-right: calc(24 / 16 * 1em);
}

.menu__link {
  position: relative;
  color: inherit;
  white-space: nowrap;
  top: 0;
  -webkit-transition: top 300ms, text-shadow 200ms;
  transition: top 300ms, text-shadow 200ms;
}

.menu__link:visited {
  color: inherit;
}

.menu__link:hover {
  top: -1px;
  color: white;
  text-shadow: 0 2px 0px #000000;
}

@media (max-width: 749px) {
  .menu {
    position: absolute;
    opacity: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
    top: -40vh;
    left: 0%;
    width: 100%;
    z-index: 5;
    background: #52503b;
    min-height: 100vh;
    padding: 50px 20px;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .menu__iten:not(:last-child) {
    margin: 0;
  }
  .menu__iten:not(:last-child) a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .menu__link {
    display: block;
    font-size: calc(25 / 16 * 1rem);
    padding: 0.6em 0;
  }
  .menu.open {
    left: 0%;
    top: 0;
    opacity: 1;
  }
}

.greeting {
  background: url("../img/bg.png") no-repeat;
  background-size: cover;
  background-position: 30% 0%;
  height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.greeting__container {
  padding-top: clamp(50px, 15vh, 112px);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

.greeting__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: clamp(200px, 21.33vw, 256px);
  margin: 0 auto;
  margin-bottom: 35px;
}

.greeting__logo img {
  width: 100%;
}

.greeting__title {
  font-size: clamp(25px, 4vw, 48px);
  line-height: calc(53 / 48 * 1em);
  margin-bottom: calc(34 / 48 * 1em);
  text-align: center;
  color: #ffffff;
}

.greeting__location {
  font-size: calc(14 / 16 * 1em);
  line-height: calc(20 / 14);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.greeting__icon {
  margin-top: clamp(40px, 15vh, 113px);
  width: 34px;
}

.greeting__icon img {
  width: 100%;
}

@media (max-height: 435px) {
  .greeting__icon {
    display: none;
  }
}

.description {
  background: #faf8f0;
  font-size: calc(14 / 16 * 1rem);
  line-height: calc(20 / 14);
}

.description__container {
  max-width: 808px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 47%))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 47%));
  gap: 40px;
  padding-bottom: 89px;
}

.description__second {
  font-size: calc(13 / 14 * 1em);
  line-height: calc(20 / 13);
}

.description__btn {
  background: #52503b;
  color: #fff;
  display: block;
  font-size: calc(14 / 16 * 1rem);
  padding: calc(13 / 16 * 1rem) calc(18 / 16 * 1rem);
  margin-top: calc(42 / 14 * 1em);
}

.giant-title__container {
  padding-bottom: 140px;
}

.giant-title h2 {
  font-weight: 700;
  font-size: clamp(40px, 8vw, 96px);
  line-height: 1;
  text-align: center;
  color: #52503b;
  white-space: break-spaces;
}

.sleeping {
  color: #52503b;
  text-align: center;
  font-size: 1rem;
  background: #faf8f0;
}

.sleeping__container {
  padding-bottom: 100px;
}

.sleeping__title {
  margin-bottom: calc(12 / 32 * 1em);
}

.sleeping__description {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: calc(30 / 16 * 1em);
}

.sleeping__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: safe;
      -ms-flex-pack: safe;
          justify-content: safe;
  padding: 0 20px;
}

.sleeping__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 340px;
          flex: 1 1 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sleeping__item img {
  width: calc(64 / 16 * 1rem);
  aspect-ratio: 1 / 1;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}

.sleeping__item h4 {
  margin-bottom: 0.1em;
}

.sleeping__item p {
  font-size: calc(14 / 16 * 1em);
  line-height: calc(20 / 14);
  text-wrap: balance;
  max-width: 400px;
}

.escape {
  color: #52503b;
}

.escape ._container {
  padding: 100px 35px 110px 35px;
}

.escape__title {
  margin-bottom: 0.5em;
}

.escape__description {
  line-height: 1.5;
  max-width: 560px;
  margin-bottom: calc(30 / 16 * 1em);
}

.escape__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 48.5%))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 48.5%));
  gap: 42px 32px;
}

.escape .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: calc(14 / 16 * 1rem);
  line-height: calc(20 / 14);
}

.escape .item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
}

.escape .item__img img {
  width: 100%;
}

.escape .item__txt {
  padding-left: 1rem;
}

.comments {
  padding-top: 100px;
  padding-bottom: 70px;
  background: #faf8f0;
}

.comments.marked::before {
  margin-bottom: 29px;
}

.comments__header {
  text-align: center;
  margin-bottom: calc(31 / 16 * 1rem);
}

.comments__title {
  margin-bottom: calc(12 / 32 * 1em);
}

.comments__description {
  color: #52503b;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;
}

.comments .reviews__container {
  padding: 0 16px 0 16px;
}

.comments .reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: calc(18 / 16 * 1rem);
}

.comments .reviews__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.comments .reviews__item:not(:last-child) {
  margin-right: 20px;
}

.comments .reviews__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

.comments .reviews__button {
  width: 60px;
  aspect-ratio: 1/ 1;
  border-radius: 50%;
  border: 2px solid #52503b;
  cursor: pointer;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

.comments .reviews__button:hover {
  background-color: #52503b;
}

.comments .reviews__button:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.comments .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem calc(31 / 16 * 1rem);
  padding-right: 2.7rem;
  background: hotpink;
  font-size: calc(14 / 16 * 1rem);
  max-width: 584px;
  background: #ffffff;
  border: 1px solid rgba(82, 80, 59, 0.1);
  border-radius: 4px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.comments .item.hehe {
  -webkit-transform: scale(0) rotateX(360deg);
          transform: scale(0) rotateX(360deg);
}

.comments .item__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  margin-bottom: calc(10 / 16 * 1rem);
}

.comments .item__stars img {
  display: block;
  width: 18px;
}

.comments .item__title {
  font-size: calc(18 / 14 * 1em);
  line-height: 1.333;
  color: #333333;
  margin-bottom: calc(10 / 14 * 1em);
}

.comments .item__txt {
  line-height: calc(20 / 14 * 1em);
  margin-bottom: calc(18 / 14 * 1em);
}

.comments .item__name {
  line-height: calc(20 / 14 * 1em);
  border-left: 2px solid #e08631;
  padding-left: calc(8 / 14 * 1em);
}

._container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 749px) {
  ._container {
    padding-top: 0;
    padding-bottom: 50px;
  }
}

/*----------------------------------*/
.btn {
  position: relative;
  white-space: nowrap;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  overflow: hidden;
}

.btn:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(128, 128, 128, 0.393)), to(transparent));
  background: linear-gradient(to right, rgba(128, 128, 128, 0.393) 0%, transparent 100%);
  background-blend-mode: multiply;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  opacity: 0;
}

.btn:hover:before {
  opacity: 1;
}

.marked,
.marked-r {
  padding-top: 100px;
}

.marked:before,
.marked-r:before {
  content: "";
  display: block;
  width: 42px;
  height: 8px;
  background: #e08631;
  margin: 0 auto;
  margin-bottom: 32px;
}

@media (max-width: 749px) {
  .marked,
  .marked-r {
    padding-top: 50px;
  }
}

.marked-r:before {
  margin: 0 0 30px 0;
}

.picture {
  width: 100%;
  overflow: hidden;
}

.picture img {
  width: 100%;
  aspect-ratio: 1 / 0.41666;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-size: 2rem;
  line-height: calc(36 / 32);
  color: #52503b;
}
