.header {
	background: #52503b;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0px 17px;
	}

	&__logo {
		flex: 0 0 auto;
		width: 128px;
		img {
			width: 100%;
		}
	}

	&__button {
		color: #52503b;
		background: #ffffff;

		font-size: 1rem;
		line-height: calc(20 / 16);
		padding: calc(11 / 16 * 1em) calc(18 / 16 * 1em);
	}

	&__burger {
		display: none;
		position: relative;
		width: 45px;
		aspect-ratio: 1 / 0.8;
		filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.313));
		z-index: 6;
		&:before,
		&:after,
		span {
			position: absolute;
			display: block;
			width: 100%;
			height: 4px;
			border-radius: 2px;
			left: 0;
			background: #32322a;
			transition: 300ms;
		}
		&::before,
		&::after {
			content: "";
		}
		span {
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		&.open {
			span {
				transform: translateY(-50%) scaleX(0);
			}
			&:before {
				top: 48%;
				transform: rotate(45deg);
			}
			&:after {
				bottom: 44%;
				transform: rotate(-45deg);
			}
		}
	}

	@media (max-width: 1080px) {
		&__container {
			padding: 8px 0px;
		}

		&__button {
			padding: 0.5em 0.8em;
		}
	}

	@media (max-width: 749px) {
		position: absolute;
		padding: 15px 0;
		background: none;
		&__logo {
			display: none;
		}

		&__button {
			box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
		}
		&__burger {
			display: block;
		}
	}
}

.menu {
	padding-right: 10px;
	&__list {
		display: flex;
	}
	&__iten {
		font-size: calc(15 / 16 * 1rem);
		color: white;
		&:not(:last-child) {
			margin-right: calc(24 / 16 * 1em);
		}
	}
	&__link {
		position: relative;
		color: inherit;
		white-space: nowrap;
		top: 0;
		transition: top 300ms, text-shadow 200ms;
		&:visited {
			color: inherit;
		}
		&:hover {
			top: -1px;
			color: rgb(255, 255, 255);
			text-shadow: 0 2px 0px #000000;
		}
	}

	@media (max-width: 749px) {
		position: absolute;
		opacity: 0;
		transition: 300ms;
		top: 0;
		left: 120%;
		width: 100%;
		z-index: 5;
		background: #52503b;
		min-height: 100vh;
		padding: 50px 20px;

		&__list {
			flex-direction: column;
			align-items: stretch;
		}

		&__iten {
			&:not(:last-child) {
				margin: 0;
				a {
					border-bottom: 1px solid rgba(255, 255, 255, 0.3);
				}
			}
		}
		&__link {
			display: block;
			font-size: calc(25 / 16 * 1rem);
			padding: 0.6em 0;
		}

		&.open {
			left: 0%;
			opacity: 1;
		}
	}
}
