.sleeping {
	color: #52503b;
	text-align: center;
	font-size: 1rem;
	background: #faf8f0;

	&__container {
		padding-bottom: 100px;
	}
	&__title {
		margin-bottom: calc(12 / 32 * 1em);
	}

	&__description {
		font-size: 1rem;
		line-height: 1.5;
		max-width: 600px;
		margin: 0 auto;
		margin-bottom: calc(30 / 16 * 1em);
	}

	&__row {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
		justify-content: safe;
		padding: 0 20px;
	}

	&__item {
		flex: 1 1 340px;
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			width: calc(64 / 16 * 1rem);
			aspect-ratio: 1 / 1;
			object-fit: cover;
			margin-bottom: 1rem;
		}
		h4 {
			margin-bottom: 0.1em;
		}
		p {
			font-size: calc(14 / 16 * 1em);
			line-height: calc(20 / 14);
			text-wrap: balance;
			max-width: 400px;
		}
	}
}
